.page {
  background-color: lightgray;
  font-family: "Raleway", sans-serif;
  min-height: 100vh;
}
.searchContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.searchField {
  width: 37%;
  padding: 0;
  font-size: 20px;
  border: 1px solid lightgray;
  text-decoration: none;
  outline: none;
}
.grade {
  margin-left: 5%;
}

.character {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid lightgray;
}
.characterCard {
  width: 35%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 1%;
  background-color: white;
}
.characterAvatar {
  flex: 1;
  text-align: center;
  position: relative;
}
.characterImg {
  height: 75px;
  width: 75px;
  border: 1px solid black;
  border-radius: 50px;
  margin-top: 50%;
  margin-left: 50%;
  transform: translate(-60%, -50%);
}
.characterDesc {
  flex: 3;
}
.characterName {
  margin-top: 0;
  font-size: 20px;
  font-family: bold;
}
.characterNameBanner {
  display: flex;
  justify-content: space-between;
}
.characterBtn {
  border: none;
  background-color: white;
  font-size: 25px;
  padding: 0;
  text-decoration: none;
  outline: none;
}
.characterTags {
  display: flex;
  flex-direction: column;
  background-color: white;
}
.characterTagRow {
  display: flex;
}
.characterTagInput {
  border: none;
  border-bottom: 1px solid lightgray;
  text-decoration: none;
  outline: none;
}
.characterInputWrapper {
  margin-top: 2%;
}
.characterTag {
  background-color: lightgray;
  padding: 1%;
  margin: 1%;
}
